node_modules/
.expo/
dist/
web-build/
uniwind-types.d.ts
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.pem
*.mobileprovision
.env
.env.*
!.env.example
*.tsbuildinfo
.DS_Store
coverage/
/apps/*/ios
/apps/*/android
modules/**/android/build/
modules/**/ios/Pods/
bundles/
service-account*.json
google-services.json
GoogleService-Info.plist

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!example.tfvars
